  .navigation {
      background: var(--deep);
      width: 100%;
      padding: 15px 0;
      text-align: center;
    }
    
    .navigation ul {
    flex-direction: row;
    justify-content: center; /* Center the menu horizontally */
    align-items: center;
    list-style-type: none;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    .navigation li {
      display: inline;
    }

    .navigation a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      padding: 8px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .navigation a:hover {
      background-color: var(--blue2);
    }
